doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title(<%= _.slugify(appname) %>)
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    h1 <%= _.slugify(appname) %>

    script(src='scripts/script.js')
